/* font-family: 'Aclonica', sans-serif;
font-family: 'Hind Vadodara', sans-serif;
font-family: 'Laila', sans-serif; */

*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Aclonica', sans-serif;
    overflow-x: hidden;
    
}

header{
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100vw;
    max-width: 1224px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 15px;
}

.nav ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    
}
.nav ul li a{
    margin: 15px;
    text-decoration: none;
    color: white;
}
.nav ul li a:hover{
    color: rgb(185, 185, 185);
}

.banner{
    background-image: url("../../assets/images/Tesouras.jpg");
    background-position: center;
    background-size: cover;
    height: calc(100vh - 100px);
}
.blackout{
    background-color:rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-title{
    width: 500px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}
.big-logo{
    width: 200px;
    height: 200px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
}
.title{
    margin-top: 25px;
    text-align: center;
    font-size: 38px;
    color: rgb(206, 206, 206);
}

.services{
    height: 600px;
    background-image: url(../images/Cortando.jpg);
    background-size: cover;
}
.services2{
    height: 600px;
    background-image: url(../images/salao.jpg);
    background-size: cover;
    background-position: center;
}

.lighten{
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.area{
    height: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slider-area{
    display: flex;
    width:600px;
}

.slide{
    width: 1200px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 50px;
}
.image1{
    width: 350px;
    height: 300px;
    background-image: url(../images/cabelo.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 15px;
}
.content1{
    width: 600px;
    height: 300px;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 25px;
}
.text{
    width: 400px;
    text-align: center;
}

.image2{
    width: 350px;
    height: 300px;
    background-image: url(../images/barba.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.content2{
    width: 600px;
    height: 300px;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 25px;
}

.galery{
    background-color: black;
    height: 600px;
    display: flex;
    align-items: center;
}

.photo-area{
    height: 600px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.slider{
    display: flex;
    align-items: center;
    width: 2448px;
    height: 600px;
    transition: 0.5s linear;
}

.photo1{
    background-image: url(../images/Tesoura.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid gray;
    width: 300px;
    height: 500px;
    margin: 25px 3px;
}
.photo2{
    background-image: url(../images/navalha.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid gray;
    width: 300px;
    height: 500px;
    margin: 25px 3px;
}
.photo3{
    background-image: url(../images/rolete.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid gray;
    width: 300px;
    height: 500px;
    margin: 25px 3px;
}
.photo4{
    background-image: url(../images/tesoura-preta.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid gray;
    width: 300px;
    height: 500px;
    margin: 25px 3px;
}

.location{
    height: 420px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maps{
    border-radius: 25px;
    border: solid 2px white;
}

.footer{
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 100%;
    height: 3px;
    background-color: white;
}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.by{
    width: 200px;
    font-size: 10px;
}
.by a{
    text-decoration: none;
    color: gray;
}